page-home {
  *{
    transition: 0.5s;
  }
  .content{
    background: linear-gradient(rgba(255, 255, 255, 0.849)),url(https://i.pinimg.com/originals/e9/a3/22/e9a3227a20770934c1fe7416114c7329.jpg);
    background-position: center;
    background-size: cover;

  }
  .header{
    width: 100%;
    height: 50px;
    background: #171717;
    display: flex;
    align-content: stretch;
    align-items: center;
    margin: auto;
  }
  input{
    border: none;
    padding: 2px 5px;
    border-radius: 200px;
    background: rgba(255, 255, 255, 0.925),url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png);
    background-size: 10px;
    color: gray;
  }
  .header i{
    font-size: 25px;
    color: white;
  }
  .header i:hover{
    color: rgb(255, 188, 88);
  }
  .header img{
    border-radius: 200px;
    margin-right: 5px;
  }
  .header>div{
    color: rgba(242, 250, 255, 0.87);
  margin: 10px;
  line-height: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 5px;
  }
  #home{
    background: rgb(19, 19, 19);
  }
  .body{
    background: linear-gradient(rgb(0, 0, 0),rgba(87, 87, 87, 0.815)),url(https://images.unsplash.com/photo-1495615080073-6b89c9839ce0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1044&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 58vh;
    text-align: center;
    padding-top: 25vh;
    box-shadow: 0px 5px 10px #1717179f;
    border-bottom: solid 2px rgb(207, 207, 207);
    color: rgb(226, 226, 226);
    text-shadow: 0px 0px 5px #000000;
  }
  .body p{
    letter-spacing: 3px;
    margin: 0;
    padding: 5px 0px;
  }
  .body h1{
    border-bottom: solid rgb(253, 196, 122) 2px;
    width: 150px;
    margin: auto;
  }
  .floating{
    text-shadow: none;
    color: rgb(19, 19, 19);
    z-index: 9;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 25%;
    height: 25%;
    background: rgb(255, 255, 255);
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #17171746;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .footer{
    width: 100%;
    height: 10%;
    background: #171717;
    position: fixed;
    bottom: 0;
  }
  .profile{
    display: flex;
    flex-direction: row;
  }
  .profile{
    height: 50%;
  }
  .image{
    overflow: hidden;
    flex-basis: 70px;
  }
  .image img{
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .details{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
  }
  .details>div{
    text-align: left;
    margin: 1px;
    height: 1%;
    width: 100%;
    line-height: -7px;
    overflow: hidden;
    height: 50%;
    align-content: center;
    padding: 0px 10px;
    // line-height: 10px;
  }
  .details i {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .details p{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }
  .summary{
    height: 50%;
    padding: 10px;
  }
  .footer{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .footer>div{
    text-align: center;
    padding-top: 7px;
    width: 20%;
    height: 50%;
    color:  white;
  }
}
